.navbar .nav-item .nav-link
{
	color:white;
}
.main-header{
	background: url(../img/fondo.jpg);
	min-height: 500px;
	/* Definir la imagen como única*/
	background-size: cover;
}
/* el .7 es para disminuir la intensidad del color*/
.backgroup-overlay{
	background: rgb(48, 51, 107,.7);
	width: 100%;
	height: 100%;
}
.team{
	background-color: rgb(48, 51, 107,.7);
}
#autoSizingInput{
	text-align: center;
}
#hola{
	position: relative;
	top:-170px;
}
